
.barchart-html {
  position: relative;
  overflow: hidden;
  .axis {
    overflow: hidden;
    width: 100%;
    height: 100%;
    &.x {
      position: absolute;
      z-index: 0;
      .gd-label {
        line-height: 11px;
      }
    }
    &.y {
      position: absolute;
      .gd-label {
        position: relative;
        overflow: hidden;
      }
    }
    .tick {
      position: absolute;
    }
    .line {
      background: #ccc;
      position: absolute;
      &.zero {
        margin-top: 10px;
      }
    }
    .gd-label {
      font-size: 10px;
      color: #b8b8b8;
      font-family: 'arial', sans-serif;
    }
  }
}


/*
* horiz/vert difference
*/

.barchart-html {
  &.vertical {
    .bars {
      z-index: 1;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      .bar {
        position: absolute;
      }
    }
    .axis {
      &.y {
        z-index: 0;
        .gd-label {
          float:left;
          background: #fff;
          padding-right: 3px;
        }
      }
      &.x {
        z-index: 2;
      }
      .line {
        height: 1px;
      }
    }
  }
  &.horizontal {
    .bars {
      z-index: 1;
      position: relative;
      .bar {
        position: relative;
      }
    }
    .axis {
      &.y {
        z-index: 2;
        .gd-label {
          text-align: right;
          span {
            background: #fff;
          }
        }
      }
      &.x {
        z-index: 0;
      }
      .line {
        width: 1px;
      }
    }
  }
}